.dataset {
    align-items: center;
    border-bottom: 1px solid #9e9e9e;
    box-sizing: border-box;
    display: flex;
    height: 10vh;
    width: 100%;
}

.dataset:first-child {
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
}

.dataset:last-child {
    border-bottom: none;
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px; 
}

.dataset:hover {
    background-color: #ebebeb;
    cursor: pointer;
}

.selected-dataset {
    background-color: #ebebeb;
}

.dataset img {
    height: 80%;
    margin: 10% 2% 10% 1%;
}

.dataset-info {
    flex: 1;
}

.dataset-title {
    color: black;
    font-size: larger;
}

.dataset-labels {
    color: black;
    font-size: medium;
}

.dataset-url {
    color: black;
    font-size: small;
    cursor: pointer;
    text-decoration: none;
}

.dataset-size {
    font-size: large;
    margin-right: 2%;
}

.instances-selector {
    align-items: center;
    display: flex;
    font-size: x-large;
    font-weight: bold;
    justify-content: center;
}

.instances {
    border: 3px solid #000000;
    border-radius: 5px;
    box-shadow: none;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.instances:focus {
    border-color: none;
    box-shadow: none;
    outline: none;
}

input[type=number] {
    appearance: textfield;
}